.characteristics__list {
    list-style: none;
    @media screen and (min-width: 1200px) {
        display: flex;
    }
    
}

.characteristics {
    &__title {
        @include font(var(--main-text-size), 1.172, var(--main-letter-spacing), var(--secondary-title-weight));
        text-transform: uppercase;
        margin-bottom: 10px;
}
    &__text {
        @include font(var(--main-text-size), 1.714, var(--main-letter-spacing), 400);
        color: var(--secondary-text-color);
    }
    &__detail {
        @media screen and (min-width: 1200px) {
            width: 270px;
            margin-right: 30px;
        }
        
    }
    &__icon {
        width: 270px;
        height: 120px;
        margin-bottom: 30px;
    }
}

.characteristics__detail {
    &:last-child {
        margin-right: 0;
    }
}