.portfolio-buttons {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 40px;
    width: 362px;
    li {
        @media screen and (max-width: 767px){
            margin-bottom: 15px;
        }
    }
    @media screen and (min-width: 1200px){
        width: 611px;
        margin: 0 auto;
        margin-bottom: 50px;
    }
}

.section.portfolio-detailed {
    @media screen and (max-width:1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.portfolio-buttons {
    .item {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.857;
        background-color: var(--button-main-color);
        padding: 6px 22px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: color var(--transform-time) var(--transform-function), background-color var(--transform-time) var(--transform-function);
    }
}

.portfolio-buttons li:not(:last-child) {
    margin-right: 8px;
}

.portfolio-buttons .item:hover, .portfolio-buttons .item:focus {
    color: var(--header-text-color);
    background-color: var(--button-secondary-color);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.portfolio-list>li:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio-list .title {
    font-size: 18px;
    line-height: 2;
    font-weight: var(--secondary-title-weight);
    color: var(--main-text-color);
}

.portfolio-list .text {
    font-size: 16px;
    line-height: 1.875;
    color: var(--secondary-text-color);
}

.portfolio-list a {
    text-decoration: none;
}

.portfolio-list li {
    margin-bottom: 30px;
}

.portfolio-list .bottom {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.portfolio-list li:nth-last-of-type(-n+3) {
    margin-bottom: 0;
}

.portfolio-list-wrap {
    position: relative;
    overflow: hidden;
}

.portfolio-list li:hover .portfolio-list-text {
    transform: translateY(0);
} 

.portfolio-list-text {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(33, 150, 243, 0.9);
    height: 100%;
    font-size: 18px;
    line-height: 1.556;
    letter-spacing: var(--main-letter-spacing);
    padding: 63px 24px;
    transform: translateY(100%);
    transition: transform var(--transform-time) var(--transform-function);
    overflow: auto;
}

