.backdrop {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(128, 128, 128, 0.2);
    transition: opacity var(--transform-time) var(--transform-function), visibility var(--transform-time) var(--transform-function);
}

.backdrop.is-hidden .modal {
    transform: scale(1.5);
}

.modal {
    @media screen and (max-width: 1199px){
        width: 480px;
        height: 100vh;
    }
    width: 528px;
    min-height: 581px;
    padding: 40px;
    border-radius: 4px;
    position: absolute;
    background-color: #ffffff;
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
    transition: transform var(--transform-time) var(--transform-function);
}

.modal-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.icon-close {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: fill var(--transform-time) var(--transform-function);
}

.icon-close:hover, .icon-close:focus {
    fill: var(--accent-text-color);
}

.modal-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    color: var(--second-title-color);
    text-align: center;
    margin-bottom: 15px;
    @media screen and (min-width: 1200px){
        font-size: 18px;
        font-weight: 600;
        line-height: 1.3;
    }
    
    
}

.modal-form-field {
    margin-bottom: 10px;
}

.modal-input-wrap {
    position: relative;
}

.modal-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding-left: 35px;
    padding-right: 35px;
    background-color: transparent;
    transition: border-color var(--transform-time) var(--transform-function);
}

.modal-input:focus + .input-icon {
    fill: var(--accent-text-color);
}

.modal-input:focus,
.modal-text:focus {
    border-color: var(--accent-text-color);
}

.input-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 12px;
    transition: fill var(--transform-time) var(--transform-function);
}

.modal-text {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding: 12px 16px;
    resize: none;
    background-color: transparent;
    transition: border-color var(--transform-time) var(--transform-function);
}

.modal-text::placeholder {
    letter-spacing: 0.01em;
    line-height: 1.167;
    color: rgba(117, 117, 117, 0.5);
}

.modal-input-text {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: 0.01em;
    display: block;
    margin-bottom: 4px;
    color: var(--secondary-text-color);
}

.modal-btn {
    margin: 0 auto;
    display: block;
    padding: 10px 56px;
    letter-spacing: 0.06em;
    line-height: 1.875;
    font-weight: 700;
    font-size: 16px;
    border-radius: 4px;
    color: var(--button-main-color);
    text-align: center;
    background-color: var(--button-secondary-color);
    margin-top: 30px;
}


.modal-check-text {
    font-size: 12px;
    line-height: 1.167;
    letter-spacing: var(--main-letter-spacing);
    color: var(--secondary-text-color);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    @media screen and (min-width: 1200px){
        font-size: 14px;
        line-height: 1.714;
    }
}

.modal-check-link {
    color: var(--accent-text-color);
}

.modal-check-text span {
    width: 16px;
    height: 15px;
    border: 2px solid #000000;
    margin-right: 5px;
    border-radius: 2px;
}

.modal-form-field.checkbox {
    margin-top: 20px;
}

.icon-check {
    fill: transparent;
}

.modal-check:checked + .modal-check-text span {
    background-color: var(--accent-text-color);
    border: none;
}

.modal-check:checked + .modal-check-text .icon-check {
    fill: var(--button-main-color);
}