:root {
    --main-text-color: #212121;
    --accent-text-color: #2196F3;
    --secondary-text-color: #757575;
    --icon-text-color: #AFB1B8;
    --header-bcg-color: #2F303A;
    --header-text-color: #FFFFFF;
    --button-main-color: #F5F4FA;
    --button-secondary-color: #2196F3;
    --main-text-size: 14px;
    --secondary-headings-size: 36px;
    --main-text-family: 'Roboto', sans-serif;
    --secondary-title-weight: 700;
    --main-letter-spacing: 0.03em;
    --secondary-letter-spacing: 0.02em;
    --transform-time: 250ms;
    --transform-function: cubic-bezier(0.4, 0, 0.2, 1);
}